<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../css/header.css" />

    <script src="../js/addTask.js"></script>
    <script src="../js/contact/listContact.js"></script>

    <script src="../../js/header.js"></script>
    <title>Header</title>
  </head>
  <body>
    <div class="mainHeader">
      <div class="logoImgContainer">
        <img
          class="mainHeaderLogoImg"
          src="../assets/img/header/headerLogo.svg"
        />
      </div>

      <div class="theProgramm">
        <p class="theProgrammFont">Kanban Project Management Tool</p>
      </div>

      <div class="userSymbolContainer" id="userSymbolContainerID">
        <div
          onclick="includeContentHTML('help')"
          onmouseover="changeInfoImage(this)"
          onmouseout="changeInfoImageBack(this)"
        >
          <img
            class="userSymbolContainerHelp headerInfoAnimateProgramm InfoImage"
            src="../assets/img/header/help.svg"
          />
        </div>

        <div id="headerProfile" onclick="toggleHeaderSubMenu()">
          <p
            id="userSignature"
            class="nameIcon"
            src="../assets/img/header/help.svg"
          ></p>
        </div>

        <div class="headerSubMenu" id="headerSubMenu" style="display: none">
          <div
            class="headerSubMenuHoverBox"
            onclick="includeContentHTML('legality')"
          >
            <a class="headerSubMenuHoverAnchor">Legal notice</a>
          </div>

          <div
            class="headerSubMenuHoverBox"
            onclick="includeContentHTML('policy')"
          >
            <a class="headerSubMenuHoverAnchor">Privacy Police</a>
          </div>

          <div
            class="headerSubMenuHoverBox"
            id="headerLogout"
            onclick="logOut()"
          >
            <a class="headerSubMenuHoverAnchor">Log out</a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
